{% extends 'sitewide_head.html' %}

{% block head %}

	<link rel="stylesheet" href="/media/css/tree.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/css/landing.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/css/forms.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/css/cms.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/css/bubble_locations.css" type="text/css" media="screen" />
	

{% endblock head %}

{% block content %}

<div class="container nav" id="trunk">	
    <div class="rightmostInTitle">
		
		{% include 'widgets/login.html' %}
	
	</div>
</div>

<div id="schematic"> 
	<img src="/media/images/schematic.png" /> 
</div>

<div id="vertNavContainer">

	{% comment %}
    <div class="vertNav">
         <a href="/"> About </a>
	</div>
	<div class="vertNav2">
		<a href="/blog/"> Blog</a> 
	</div>
	<div class="vertNav3">
		<a href="/hack-and-tell/"> Hack & Tell</a> 
	</div>
	{% endcomment %}
	
</div>

<div class="container">

{% for block in blog_blocks %}




<div class="row blogPost">

	<div class="twocol" style="margin-right:-.5%;">
		<div class="tanRounded normal blogAvatarContainer left">
			<img class="blogAvatar" src="/media/{{block.creator.userprofile.contact_info.image}}" />
			<div class="left">
				by {{block.creator}}
			</div>
		</div>
	</div>
	<div class="blogColumn tencol last">
		<div class="tanRounded normal left blogContainer">				
			<img class="left leftVert" src="/media/images/border2.png"/>
			
			
			
			<div class="blogContent" style="float:left;">
				<h2><a href="{{block.get_absolute_url}}">{{block.headline}}</a></h2>
				<h4><em>{{block.subhead}}</em></h4>
				<div class="blogPubDate">
					{{block.created}}
				</div>				
				{{block.content|safe}}						
			</div>
			
		</div>
	</div>
	

</div>
{% endfor %}
<img class="rightVert" src="/media/images/ram.png"/>
</div>

{% block footer %}
	
	<div id="contact"> 60 Main st. New Paltz, NY, 12561 845.633.8330 </div>
	
{% endblock footer %}

{% endblock content %}
