{% extends 'sitewide_head.html' %}

{% block head %}
{% include 'frontend_head.html' %}
{% endblock head %}

{% block content %}
<style>#slider { margin: 10px; }	</style>
<script>
$( "#slider" ).slider();
</script>

<div id="fullpage">

  <div class="section" id="section1">

    <div id="section1-container" class="container">

      {# First Fullpage Slide - Three Colums of services. #}

      <div class="row" id="main_service_picker_row1">

        <div class="col-md-3">
          <img class="img-circle" src="/media/images/photo/devbig.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Projects</h2>
          <p>Web applications, phone routing, mobile apps, conferences– see what we're up to.</p>
          <p><a class="btn btn-default" href="#secondSlide" role="button">Development &raquo;</a></p>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <img class="img-circle" src="/media/images/photo/front.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>SlashRoot Cafe</h2>
          <p>Acoustic Music, Poetry, Art, Classes, Workshops, etc.</p>
          <p><a class="btn btn-default" href="#fourthSlide" role="button">Cafe&raquo;</a></p>
        </div>
      </div>

      <div class="row" id="main_service_picker_row2">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <img class="img-circle" src="/media/images/photo/meshy.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Mesh Networking</h2>
          <p>We help to connect people, and wireless routers.</p>
          <p><a class="btn btn-default" href="#thirdSlide" role="button">Networking&raquo;</a></p>
        </div>
        <div class="col-md-3"></div>
      </div>

    </div>

      {# Cafe Section #}
        <div class="slide">
            <h1>gkk</h1>
            <p>
              The slashRoot Technology Group has a four point curriculum.<br>
              This includes Logical Expression, Material Application,<br>
              Organic Networking, and Wholesome Commerce.<br>
              Membership follows a martial arts paradigm, giving members<br>
              an opportunity to earn white, yellow, green, brown, or black bands in our curriculum.
            </p>
        </div>

        <div class="slide">
            <h1>hgjgj</h1>
            <p>
                Acoustic Music, Poetry, Art, Classes, Workshops, etc.
            </p>
        </div>

        <div class="slide">
            <h1>fghfgh</h1>
            <p>
              We have featured local poets, artist, musicians, and other creative types at slashRoot.<br>
              We try to cultivate a vibe that we think independent, intelligent people will enjoy.<br>
              slashRoot has also hosted members of the community for a village debate,<br>
              as well as events related to technology.<br>
              We also host classes and workshops<br>
              where we teach our four point curriculum.
            </p>
        </div>

      </div>
  </div>

  {# Projects Section #}
  <div class="section" id="section2">
    <div id="section2-container">
      <div style="height:100%;" class="slide">
        <div id=slide2-content-left class="col-md-4">
        <h1>Software Development</h1>
        <p>
          Web applications, phone routing, mobile apps, graphic design –
          whatever gets the job done.
        </p>
        <div class="col-md-4" id="front-page-blog-preview">
          <img class="left leftVert" src="/media/images/sprites/border2.png"/>
          <h1>Latest <a href="/blog/">Blog</a> Posts</h1>
          {% for block in blog_blocks %}
              <div id class="blog-preview">
                <h2><a href="{{block.get_absolute_url}}">{{block.headline}}</a></h2>
                <h3>by {{block.creator}}</h3>
                <h4>{{block.created}}</h4>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="slide">
        <h1>etyey</h1>
        <p>
          We provide unique and common technology services to our local and greater area.
          We advocate the use <br> of open source software in our community,<br>
          and illustrate connections between fair trade and open source.<br>
          We will arrange for pickup and delivery of your computer!<br>

          A full tech services menu can be found here.  <br>
        </p>
    </div>

    <div class="slide">
        <h1>ereye</h1>
    </div>

  </div>

  </div>


</div> <-- fullpage div close -->

{% endblock %}

{% block footer %}

<div id="footer"><p id="contactbottom" class="lead">+1 845.633.8330 | info@slashrootcafe.com</p></div>
<div id="slider"></div>
{% if request.user.is_authenticated and not disable_incoming_calls %}

		<script type="text/javascript" src="http://static.twilio.com/libs/twiliojs/1.0/twilio.js"></script>

		<script type="text/javascript">
			$.get('/comm/incoming_phone_client_loader', function(data) {
				$('#incomingPhone').html(data);
			});
		</script>

		<div id="incomingPhone" class="verySmall">
			Loading Incoming Client...
		</div>

{% endif %}

{% endblock %}
