{% extends 'sitewide_head.html' %}

{% block head %}



	<link rel="stylesheet" href="/media/css/tree.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/css/landing.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/css/forms.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/css/cms.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/css/bubble_locations.css" type="text/css" media="screen" />
	
	<script type="text/javascript">
	
	$(function() {
	   $('.photostrip').hover(function(){
         var id_of_text=$(this).attr('id').split('-')[1];
         $("#bafoons-"+id_of_text).fadeIn(100);
         $(this).animate({'opacity': '0.7'},100);
         setTimeout(function(){
							$("#bafoons-"+id_of_text).fadeOut(1000);}, 5000);
         },function (){ var id_of_text=$(this).attr('id').split('-')[1];
         $(this).animate({'opacity': '100'},100);
					
	  });

	})
	
	</script>

{% endblock head %}

{% block content %}

	{# Login widget. #}
	{% comment %}
	<div class="container nav" id="trunk">
	    <div class="rightmostInTitle">
			{% include 'widgets/login.html' %}
		</div>
	</div>
	{% endcomment %}
	
	
	{# Backgroud image and logo. #}
			<div id="centerBidniss">
				<div class="backgroundElements">


					<img id="tree" src="/media/images/tree-cropped.png" />
					<div id="logoBig"> 
						SlashRoot 
						<span id="subLogo">
							:coffee house and tech dojo
						</span>
					</div>
				</div>


		
				{# Navigation. #}	
					
				{# The circular hand drawn boarders, and their underling photos #}
				{% comment %}
				<div id="halfMoonNav">
				
				    <a href="/" title="About">
						<img id="treeBorder_1" src="/media/images/treeborder.png" />
						<img id="treeImage_1" src="/media/images/cafebar.png" >
					</a>
					
				    <a href="/blog/" title="Blog">
						<img id="treeBorder_2" src="/media/images/circleborder2.png" /> 
						<img id="treeImage_2" src="/media/images/timcloseup.png" >
					</a>
					
					<a href="/hack-and-tell/" title="Hack and tell">
						<img id="treeBorder_3" src="/media/images/circles.png" /> 
						<img id="treeImage_3" src="/media/images/hackandtell.png" >
				    </a>
				    
				    <a href="/commerce/fluidbarter/" title="FluidBarter">
						<img id="treeBorder_4" src="/media/images/lacey.png" /> 
						<img id="treeImage_4" src="/media/images/devlounge.png" >
					</a>
					
				</div> {# halfMoonNav #}
				{% endcomment %}
			</div> {# centerBidniss #}
	
    <div id="below_the_fold">	
	{# About Text #}
	
	<div class="row aboutText">
	
		<div class="tanRoundedMain normal left">				
		
				
				<br><h2>	We do five things! Usually! </h2> <br><br>
	            {% comment %}
	                                                <ul id=photostrip>
	        <li> <img class="photostrip" id="photostrip-1" src="/media/images/devlounge.png" /> </li> 
	        <li> <img class="photostrip" id="photostrip-2" src="/media/images/cafebar.png" /> </li> 
	        <li> <img class="photostrip" id="photostrip-3" src="/media/images/timcloseup.png" /> </li> 
	      
	        <li> <img class="photostrip" id="photostrip-1" src="/media/images/devlounge.png" /> </li> 
	        <li> <img class="photostrip" id="photostrip-2" src="/media/images/cafebar.png" /> </li> 
	        <li> <img class="photostrip" id="photostrip-3" src="/media/images/timcloseup.png" /> </li> 
	
	    </ul>
	    
	    <ul id=labels>
	        <li id="bafoons-1"> Label  </li> 
	        <li id="bafoons-2"> Llamas </li> 
	        <li id="bafoons-3"> Like </li> 
	        <li id="bafoons-4"> Labels </li> 
	    </ul>
	    {% endcomment %}
			
			<strong>The Best Organic / Local Beverages in New Paltz:</strong>
			Hand-crafted teas, locally roasted coffee and espresso, the freshest local milk money can buy.  Drink up!<br><br>
			
			
			<strong>Technology Service:</strong>
			We love to fix things!  
			We make computers and their owners get along.  <br><br>
			
			
			<strong>Networking:</strong>
			We help to connect people, wireless routers, etc.<br><br>
			
			
			<strong>Software Development:</strong>
			Web applications, phone routing, mobile apps – whatever gets the job done.  We're one of the top development shops in New York State.<br><br>
			
			
			<strong>Live Events:</strong> 
			Acoustic Music, Poetry, Art, Classes, Workshops, etc.<br><br>
				
		
		</div>
	
	</div>
  
</div>

<div id="front-page-blog-preview">
	<img class="left leftVert" src="/media/images/border2.png"/>
	<h1>Latest <a href="/blog/">Blog</a> Posts</h1>
	{% for block in blog_blocks %}				
			<div class="blogContent" style="float:left;">
				<h2><a href="{{block.get_absolute_url}}">{{block.headline}}</a></h2>
				<h3>by {{block.creator}}</h3>
				<h4>{{block.created}}</h4>
			</div>
	{% endfor %}
</div>

{% endblock %}

{% block footer %}

	<div>
	
	<div id="contact"> 60 Main st. New Paltz, NY, 12561 845.633.8330 </div>
	
		{% if request.user.is_authenticated and not disable_incoming_calls %}
		
			<script type="text/javascript" src="http://static.twilio.com/libs/twiliojs/1.0/twilio.js"></script>
			
			<script type="text/javascript">
				$.get('/comm/incoming_phone_client_loader', function(data) {
					$('#incomingPhone').html(data);					
				});
			</script>
			
			<div id="incomingPhone" class="verySmall">
				Loading Incoming Client...
			</div>
			
		{% endif %}
	</div>
	
{% endblock %}
