.inner.bubble_1.siblings_1 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_1 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_1.siblings_2 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_2 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_2 {
margin-left:0.0px;
margin-top:150.0px;
}

.outer.bubble_2.siblings_2 {
margin-left:-150.0px;
margin-top:150.0px;
}

.inner.bubble_1.siblings_3 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_3 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_3 {
margin-left:75.0px;
margin-top:279.903810568px;
}

.outer.bubble_2.siblings_3 {
margin-left:5.68434188608e-14px;
margin-top:409.807621135px;
}

.inner.bubble_3.siblings_3 {
margin-left:75.0px;
margin-top:20.0961894323px;
}

.outer.bubble_3.siblings_3 {
margin-left:-1.42108547152e-13px;
margin-top:-109.807621135px;
}

.inner.bubble_1.siblings_4 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_4 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_4 {
margin-left:150.0px;
margin-top:300.0px;
}

.outer.bubble_2.siblings_4 {
margin-left:150.0px;
margin-top:450.0px;
}

.inner.bubble_3.siblings_4 {
margin-left:0.0px;
margin-top:150.0px;
}

.outer.bubble_3.siblings_4 {
margin-left:-150.0px;
margin-top:150.0px;
}

.inner.bubble_4.siblings_4 {
margin-left:150.0px;
margin-top:0.0px;
}

.outer.bubble_4.siblings_4 {
margin-left:150.0px;
margin-top:-150.0px;
}

.inner.bubble_1.siblings_5 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_5 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_5 {
margin-left:196.352549156px;
margin-top:292.658477444px;
}

.outer.bubble_2.siblings_5 {
margin-left:242.705098312px;
margin-top:435.316954889px;
}

.inner.bubble_3.siblings_5 {
margin-left:28.6474508438px;
margin-top:238.167787844px;
}

.outer.bubble_3.siblings_5 {
margin-left:-92.7050983125px;
margin-top:326.335575688px;
}

.inner.bubble_4.siblings_5 {
margin-left:28.6474508438px;
margin-top:61.8322121561px;
}

.outer.bubble_4.siblings_5 {
margin-left:-92.7050983125px;
margin-top:-26.3355756877px;
}

.inner.bubble_5.siblings_5 {
margin-left:196.352549156px;
margin-top:7.34152255573px;
}

.outer.bubble_5.siblings_5 {
margin-left:242.705098312px;
margin-top:-135.316954889px;
}

.inner.bubble_1.siblings_6 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_6 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_6 {
margin-left:225.0px;
margin-top:279.903810568px;
}

.outer.bubble_2.siblings_6 {
margin-left:300.0px;
margin-top:409.807621135px;
}

.inner.bubble_3.siblings_6 {
margin-left:75.0px;
margin-top:279.903810568px;
}

.outer.bubble_3.siblings_6 {
margin-left:5.68434188608e-14px;
margin-top:409.807621135px;
}

.inner.bubble_4.siblings_6 {
margin-left:0.0px;
margin-top:150.0px;
}

.outer.bubble_4.siblings_6 {
margin-left:-150.0px;
margin-top:150.0px;
}

.inner.bubble_5.siblings_6 {
margin-left:75.0px;
margin-top:20.0961894323px;
}

.outer.bubble_5.siblings_6 {
margin-left:-1.42108547152e-13px;
margin-top:-109.807621135px;
}

.inner.bubble_6.siblings_6 {
margin-left:225.0px;
margin-top:20.0961894323px;
}

.outer.bubble_6.siblings_6 {
margin-left:300.0px;
margin-top:-109.807621135px;
}

.inner.bubble_1.siblings_7 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_7 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_7 {
margin-left:243.523470279px;
margin-top:267.27472237px;
}

.outer.bubble_2.siblings_7 {
margin-left:337.046940558px;
margin-top:384.54944474px;
}

.inner.bubble_3.siblings_7 {
margin-left:116.621859907px;
margin-top:296.239186827px;
}

.outer.bubble_3.siblings_7 {
margin-left:83.2437198131px;
margin-top:442.478373655px;
}

.inner.bubble_4.siblings_7 {
margin-left:14.8546698146px;
margin-top:215.082560868px;
}

.outer.bubble_4.siblings_7 {
margin-left:-120.290660371px;
margin-top:280.165121735px;
}

.inner.bubble_5.siblings_7 {
margin-left:14.8546698146px;
margin-top:84.9174391324px;
}

.outer.bubble_5.siblings_7 {
margin-left:-120.290660371px;
margin-top:19.8348782647px;
}

.inner.bubble_6.siblings_7 {
margin-left:116.621859907px;
margin-top:3.76081317273px;
}

.outer.bubble_6.siblings_7 {
margin-left:83.2437198131px;
margin-top:-142.478373655px;
}

.inner.bubble_7.siblings_7 {
margin-left:243.523470279px;
margin-top:32.7252776298px;
}

.outer.bubble_7.siblings_7 {
margin-left:337.046940558px;
margin-top:-84.5494447404px;
}

.inner.bubble_1.siblings_8 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_8 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_8 {
margin-left:256.066017178px;
margin-top:256.066017178px;
}

.outer.bubble_2.siblings_8 {
margin-left:362.132034356px;
margin-top:362.132034356px;
}

.inner.bubble_3.siblings_8 {
margin-left:150.0px;
margin-top:300.0px;
}

.outer.bubble_3.siblings_8 {
margin-left:150.0px;
margin-top:450.0px;
}

.inner.bubble_4.siblings_8 {
margin-left:43.933982822px;
margin-top:256.066017178px;
}

.outer.bubble_4.siblings_8 {
margin-left:-62.132034356px;
margin-top:362.132034356px;
}

.inner.bubble_5.siblings_8 {
margin-left:0.0px;
margin-top:150.0px;
}

.outer.bubble_5.siblings_8 {
margin-left:-150.0px;
margin-top:150.0px;
}

.inner.bubble_6.siblings_8 {
margin-left:43.933982822px;
margin-top:43.933982822px;
}

.outer.bubble_6.siblings_8 {
margin-left:-62.132034356px;
margin-top:-62.132034356px;
}

.inner.bubble_7.siblings_8 {
margin-left:150.0px;
margin-top:0.0px;
}

.outer.bubble_7.siblings_8 {
margin-left:150.0px;
margin-top:-150.0px;
}

.inner.bubble_8.siblings_8 {
margin-left:256.066017178px;
margin-top:43.933982822px;
}

.outer.bubble_8.siblings_8 {
margin-left:362.132034356px;
margin-top:-62.132034356px;
}

.inner.bubble_1.siblings_9 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_9 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_9 {
margin-left:264.906666468px;
margin-top:246.418141453px;
}

.outer.bubble_2.siblings_9 {
margin-left:379.813332936px;
margin-top:342.836282906px;
}

.inner.bubble_3.siblings_9 {
margin-left:176.04722665px;
margin-top:297.721162952px;
}

.outer.bubble_3.siblings_9 {
margin-left:202.0944533px;
margin-top:445.442325904px;
}

.inner.bubble_4.siblings_9 {
margin-left:75.0px;
margin-top:279.903810568px;
}

.outer.bubble_4.siblings_9 {
margin-left:5.68434188608e-14px;
margin-top:409.807621135px;
}

.inner.bubble_5.siblings_9 {
margin-left:9.04610688211px;
margin-top:201.303021499px;
}

.outer.bubble_5.siblings_9 {
margin-left:-131.907786236px;
margin-top:252.606042998px;
}

.inner.bubble_6.siblings_9 {
margin-left:9.04610688211px;
margin-top:98.6969785011px;
}

.outer.bubble_6.siblings_9 {
margin-left:-131.907786236px;
margin-top:47.3939570023px;
}

.inner.bubble_7.siblings_9 {
margin-left:75.0px;
margin-top:20.0961894323px;
}

.outer.bubble_7.siblings_9 {
margin-left:-1.42108547152e-13px;
margin-top:-109.807621135px;
}

.inner.bubble_8.siblings_9 {
margin-left:176.04722665px;
margin-top:2.27883704817px;
}

.outer.bubble_8.siblings_9 {
margin-left:202.0944533px;
margin-top:-145.442325904px;
}

.inner.bubble_9.siblings_9 {
margin-left:264.906666468px;
margin-top:53.581858547px;
}

.outer.bubble_9.siblings_9 {
margin-left:379.813332936px;
margin-top:-42.836282906px;
}

.inner.bubble_1.siblings_10 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_10 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_10 {
margin-left:271.352549156px;
margin-top:238.167787844px;
}

.outer.bubble_2.siblings_10 {
margin-left:392.705098312px;
margin-top:326.335575688px;
}

.inner.bubble_3.siblings_10 {
margin-left:196.352549156px;
margin-top:292.658477444px;
}

.outer.bubble_3.siblings_10 {
margin-left:242.705098312px;
margin-top:435.316954889px;
}

.inner.bubble_4.siblings_10 {
margin-left:103.647450844px;
margin-top:292.658477444px;
}

.outer.bubble_4.siblings_10 {
margin-left:57.2949016875px;
margin-top:435.316954889px;
}

.inner.bubble_5.siblings_10 {
margin-left:28.6474508438px;
margin-top:238.167787844px;
}

.outer.bubble_5.siblings_10 {
margin-left:-92.7050983125px;
margin-top:326.335575688px;
}

.inner.bubble_6.siblings_10 {
margin-left:0.0px;
margin-top:150.0px;
}

.outer.bubble_6.siblings_10 {
margin-left:-150.0px;
margin-top:150.0px;
}

.inner.bubble_7.siblings_10 {
margin-left:28.6474508438px;
margin-top:61.8322121561px;
}

.outer.bubble_7.siblings_10 {
margin-left:-92.7050983125px;
margin-top:-26.3355756877px;
}

.inner.bubble_8.siblings_10 {
margin-left:103.647450844px;
margin-top:7.34152255573px;
}

.outer.bubble_8.siblings_10 {
margin-left:57.2949016875px;
margin-top:-135.316954889px;
}

.inner.bubble_9.siblings_10 {
margin-left:196.352549156px;
margin-top:7.34152255573px;
}

.outer.bubble_9.siblings_10 {
margin-left:242.705098312px;
margin-top:-135.316954889px;
}

.inner.bubble_10.siblings_10 {
margin-left:271.352549156px;
margin-top:61.8322121561px;
}

.outer.bubble_10.siblings_10 {
margin-left:392.705098312px;
margin-top:-26.3355756877px;
}

.inner.bubble_1.siblings_11 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_11 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_11 {
margin-left:276.188029925px;
margin-top:231.096122618px;
}

.outer.bubble_2.siblings_11 {
margin-left:402.376059849px;
margin-top:312.192245237px;
}

.inner.bubble_3.siblings_11 {
margin-left:212.31225195px;
margin-top:286.444799303px;
}

.outer.bubble_3.siblings_11 {
margin-left:274.624503901px;
margin-top:422.889598606px;
}

.inner.bubble_4.siblings_11 {
margin-left:128.652774259px;
margin-top:298.473216282px;
}

.outer.bubble_4.siblings_11 {
margin-left:107.305548518px;
margin-top:446.946432564px;
}

.inner.bubble_5.siblings_11 {
margin-left:51.7708899082px;
margin-top:263.362436153px;
}

.outer.bubble_5.siblings_11 {
margin-left:-46.4582201836px;
margin-top:376.724872306px;
}

.inner.bubble_6.siblings_11 {
margin-left:6.07605395783px;
margin-top:192.259883526px;
}

.outer.bubble_6.siblings_11 {
margin-left:-137.847892084px;
margin-top:234.519767052px;
}

.inner.bubble_7.siblings_11 {
margin-left:6.07605395783px;
margin-top:107.740116474px;
}

.outer.bubble_7.siblings_11 {
margin-left:-137.847892084px;
margin-top:65.4802329476px;
}

.inner.bubble_8.siblings_11 {
margin-left:51.7708899082px;
margin-top:36.6375638469px;
}

.outer.bubble_8.siblings_11 {
margin-left:-46.4582201836px;
margin-top:-76.7248723063px;
}

.inner.bubble_9.siblings_11 {
margin-left:128.652774259px;
margin-top:1.52678371786px;
}

.outer.bubble_9.siblings_11 {
margin-left:107.305548518px;
margin-top:-146.946432564px;
}

.inner.bubble_10.siblings_11 {
margin-left:212.31225195px;
margin-top:13.5552006968px;
}

.outer.bubble_10.siblings_11 {
margin-left:274.624503901px;
margin-top:-122.889598606px;
}

.inner.bubble_11.siblings_11 {
margin-left:276.188029925px;
margin-top:68.9038773817px;
}

.outer.bubble_11.siblings_11 {
margin-left:402.376059849px;
margin-top:-12.1922452367px;
}

.inner.bubble_1.siblings_12 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_12 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_12 {
margin-left:279.903810568px;
margin-top:225.0px;
}

.outer.bubble_2.siblings_12 {
margin-left:409.807621135px;
margin-top:300.0px;
}

.inner.bubble_3.siblings_12 {
margin-left:225.0px;
margin-top:279.903810568px;
}

.outer.bubble_3.siblings_12 {
margin-left:300.0px;
margin-top:409.807621135px;
}

.inner.bubble_4.siblings_12 {
margin-left:150.0px;
margin-top:300.0px;
}

.outer.bubble_4.siblings_12 {
margin-left:150.0px;
margin-top:450.0px;
}

.inner.bubble_5.siblings_12 {
margin-left:75.0px;
margin-top:279.903810568px;
}

.outer.bubble_5.siblings_12 {
margin-left:5.68434188608e-14px;
margin-top:409.807621135px;
}

.inner.bubble_6.siblings_12 {
margin-left:20.0961894323px;
margin-top:225.0px;
}

.outer.bubble_6.siblings_12 {
margin-left:-109.807621135px;
margin-top:300.0px;
}

.inner.bubble_7.siblings_12 {
margin-left:0.0px;
margin-top:150.0px;
}

.outer.bubble_7.siblings_12 {
margin-left:-150.0px;
margin-top:150.0px;
}

.inner.bubble_8.siblings_12 {
margin-left:20.0961894323px;
margin-top:75.0px;
}

.outer.bubble_8.siblings_12 {
margin-left:-109.807621135px;
margin-top:-2.84217094304e-14px;
}

.inner.bubble_9.siblings_12 {
margin-left:75.0px;
margin-top:20.0961894323px;
}

.outer.bubble_9.siblings_12 {
margin-left:-1.42108547152e-13px;
margin-top:-109.807621135px;
}

.inner.bubble_10.siblings_12 {
margin-left:150.0px;
margin-top:0.0px;
}

.outer.bubble_10.siblings_12 {
margin-left:150.0px;
margin-top:-150.0px;
}

.inner.bubble_11.siblings_12 {
margin-left:225.0px;
margin-top:20.0961894323px;
}

.outer.bubble_11.siblings_12 {
margin-left:300.0px;
margin-top:-109.807621135px;
}

.inner.bubble_12.siblings_12 {
margin-left:279.903810568px;
margin-top:75.0px;
}

.outer.bubble_12.siblings_12 {
margin-left:409.807621135px;
margin-top:-1.42108547152e-13px;
}

.inner.bubble_1.siblings_13 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_13 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_13 {
margin-left:282.818403848px;
margin-top:219.708475807px;
}

.outer.bubble_2.siblings_13 {
margin-left:415.636807696px;
margin-top:289.416951613px;
}

.inner.bubble_3.siblings_13 {
margin-left:235.20971201px;
margin-top:273.447579884px;
}

.outer.bubble_3.siblings_13 {
margin-left:320.419424019px;
margin-top:396.895159768px;
}

.inner.bubble_4.siblings_13 {
margin-left:168.080502038px;
margin-top:298.906331115px;
}

.outer.bubble_4.siblings_13 {
margin-left:186.161004077px;
margin-top:447.812662229px;
}

.inner.bubble_5.siblings_13 {
margin-left:96.8092669436px;
margin-top:290.252436403px;
}

.outer.bubble_5.siblings_13 {
margin-left:43.6185338872px;
margin-top:430.504872806px;
}

.inner.bubble_6.siblings_13 {
margin-left:37.7233877743px;
margin-top:249.468398736px;
}

.outer.bubble_6.siblings_13 {
margin-left:-74.5532244513px;
margin-top:348.936797472px;
}

.inner.bubble_7.siblings_13 {
margin-left:4.35872738609px;
margin-top:185.897349643px;
}

.outer.bubble_7.siblings_13 {
margin-left:-141.282545228px;
margin-top:221.794699286px;
}

.inner.bubble_8.siblings_13 {
margin-left:4.35872738609px;
margin-top:114.102650357px;
}

.outer.bubble_8.siblings_13 {
margin-left:-141.282545228px;
margin-top:78.2053007137px;
}

.inner.bubble_9.siblings_13 {
margin-left:37.7233877743px;
margin-top:50.5316012639px;
}

.outer.bubble_9.siblings_13 {
margin-left:-74.5532244513px;
margin-top:-48.9367974722px;
}

.inner.bubble_10.siblings_13 {
margin-left:96.8092669436px;
margin-top:9.74756359719px;
}

.outer.bubble_10.siblings_13 {
margin-left:43.6185338872px;
margin-top:-130.504872806px;
}

.inner.bubble_11.siblings_13 {
margin-left:168.080502038px;
margin-top:1.09366888529px;
}

.outer.bubble_11.siblings_13 {
margin-left:186.161004077px;
margin-top:-147.812662229px;
}

.inner.bubble_12.siblings_13 {
margin-left:235.20971201px;
margin-top:26.552420116px;
}

.outer.bubble_12.siblings_13 {
margin-left:320.419424019px;
margin-top:-96.8951597681px;
}

.inner.bubble_13.siblings_13 {
margin-left:282.818403848px;
margin-top:80.2915241934px;
}

.outer.bubble_13.siblings_13 {
margin-left:415.636807696px;
margin-top:10.5830483869px;
}

.inner.bubble_1.siblings_14 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_14 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_14 {
margin-left:285.145330185px;
margin-top:215.082560868px;
}

.outer.bubble_2.siblings_14 {
margin-left:420.290660371px;
margin-top:280.165121735px;
}

.inner.bubble_3.siblings_14 {
margin-left:243.523470279px;
margin-top:267.27472237px;
}

.outer.bubble_3.siblings_14 {
margin-left:337.046940558px;
margin-top:384.54944474px;
}

.inner.bubble_4.siblings_14 {
margin-left:183.378140093px;
margin-top:296.239186827px;
}

.outer.bubble_4.siblings_14 {
margin-left:216.756280187px;
margin-top:442.478373655px;
}

.inner.bubble_5.siblings_14 {
margin-left:116.621859907px;
margin-top:296.239186827px;
}

.outer.bubble_5.siblings_14 {
margin-left:83.2437198131px;
margin-top:442.478373655px;
}

.inner.bubble_6.siblings_14 {
margin-left:56.4765297212px;
margin-top:267.27472237px;
}

.outer.bubble_6.siblings_14 {
margin-left:-37.0469405576px;
margin-top:384.54944474px;
}

.inner.bubble_7.siblings_14 {
margin-left:14.8546698146px;
margin-top:215.082560868px;
}

.outer.bubble_7.siblings_14 {
margin-left:-120.290660371px;
margin-top:280.165121735px;
}

.inner.bubble_8.siblings_14 {
margin-left:0.0px;
margin-top:150.0px;
}

.outer.bubble_8.siblings_14 {
margin-left:-150.0px;
margin-top:150.0px;
}

.inner.bubble_9.siblings_14 {
margin-left:14.8546698146px;
margin-top:84.9174391324px;
}

.outer.bubble_9.siblings_14 {
margin-left:-120.290660371px;
margin-top:19.8348782647px;
}

.inner.bubble_10.siblings_14 {
margin-left:56.4765297212px;
margin-top:32.7252776298px;
}

.outer.bubble_10.siblings_14 {
margin-left:-37.0469405576px;
margin-top:-84.5494447404px;
}

.inner.bubble_11.siblings_14 {
margin-left:116.621859907px;
margin-top:3.76081317273px;
}

.outer.bubble_11.siblings_14 {
margin-left:83.2437198131px;
margin-top:-142.478373655px;
}

.inner.bubble_12.siblings_14 {
margin-left:183.378140093px;
margin-top:3.76081317273px;
}

.outer.bubble_12.siblings_14 {
margin-left:216.756280187px;
margin-top:-142.478373655px;
}

.inner.bubble_13.siblings_14 {
margin-left:243.523470279px;
margin-top:32.7252776298px;
}

.outer.bubble_13.siblings_14 {
margin-left:337.046940558px;
margin-top:-84.5494447404px;
}

.inner.bubble_14.siblings_14 {
margin-left:285.145330185px;
margin-top:84.9174391324px;
}

.outer.bubble_14.siblings_14 {
margin-left:420.290660371px;
margin-top:19.8348782647px;
}

.inner.bubble_1.siblings_15 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_15 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_15 {
margin-left:287.031818646px;
margin-top:211.010496461px;
}

.outer.bubble_2.siblings_15 {
margin-left:424.063637293px;
margin-top:272.020992923px;
}

.inner.bubble_3.siblings_15 {
margin-left:250.369590954px;
margin-top:261.471723822px;
}

.outer.bubble_3.siblings_15 {
margin-left:350.739181908px;
margin-top:372.943447643px;
}

.inner.bubble_4.siblings_15 {
margin-left:196.352549156px;
margin-top:292.658477444px;
}

.outer.bubble_4.siblings_15 {
margin-left:242.705098312px;
margin-top:435.316954889px;
}

.inner.bubble_5.siblings_15 {
margin-left:134.32073051px;
margin-top:299.178284305px;
}

.outer.bubble_5.siblings_15 {
margin-left:118.64146102px;
margin-top:448.35656861px;
}

.inner.bubble_6.siblings_15 {
margin-left:75.0px;
margin-top:279.903810568px;
}

.outer.bubble_6.siblings_15 {
margin-left:5.68434188608e-14px;
margin-top:409.807621135px;
}

.inner.bubble_7.siblings_15 {
margin-left:28.6474508438px;
margin-top:238.167787844px;
}

.outer.bubble_7.siblings_15 {
margin-left:-92.7050983125px;
margin-top:326.335575688px;
}

.inner.bubble_8.siblings_15 {
margin-left:3.27785988993px;
margin-top:181.186753623px;
}

.outer.bubble_8.siblings_15 {
margin-left:-143.44428022px;
margin-top:212.373507245px;
}

.inner.bubble_9.siblings_15 {
margin-left:3.27785988993px;
margin-top:118.813246377px;
}

.outer.bubble_9.siblings_15 {
margin-left:-143.44428022px;
margin-top:87.6264927547px;
}

.inner.bubble_10.siblings_15 {
margin-left:28.6474508438px;
margin-top:61.8322121561px;
}

.outer.bubble_10.siblings_15 {
margin-left:-92.7050983125px;
margin-top:-26.3355756877px;
}

.inner.bubble_11.siblings_15 {
margin-left:75.0px;
margin-top:20.0961894323px;
}

.outer.bubble_11.siblings_15 {
margin-left:-1.42108547152e-13px;
margin-top:-109.807621135px;
}

.inner.bubble_12.siblings_15 {
margin-left:134.32073051px;
margin-top:0.821715694759px;
}

.outer.bubble_12.siblings_15 {
margin-left:118.64146102px;
margin-top:-148.35656861px;
}

.inner.bubble_13.siblings_15 {
margin-left:196.352549156px;
margin-top:7.34152255573px;
}

.outer.bubble_13.siblings_15 {
margin-left:242.705098312px;
margin-top:-135.316954889px;
}

.inner.bubble_14.siblings_15 {
margin-left:250.369590954px;
margin-top:38.5282761784px;
}

.outer.bubble_14.siblings_15 {
margin-left:350.739181908px;
margin-top:-72.9434476432px;
}

.inner.bubble_15.siblings_15 {
margin-left:287.031818646px;
margin-top:88.9895035386px;
}

.outer.bubble_15.siblings_15 {
margin-left:424.063637293px;
margin-top:27.9790070773px;
}

.inner.bubble_1.siblings_16 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_16 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_16 {
margin-left:288.581929877px;
margin-top:207.402514855px;
}

.outer.bubble_2.siblings_16 {
margin-left:427.163859753px;
margin-top:264.80502971px;
}

.inner.bubble_3.siblings_16 {
margin-left:256.066017178px;
margin-top:256.066017178px;
}

.outer.bubble_3.siblings_16 {
margin-left:362.132034356px;
margin-top:362.132034356px;
}

.inner.bubble_4.siblings_16 {
margin-left:207.402514855px;
margin-top:288.581929877px;
}

.outer.bubble_4.siblings_16 {
margin-left:264.80502971px;
margin-top:427.163859753px;
}

.inner.bubble_5.siblings_16 {
margin-left:150.0px;
margin-top:300.0px;
}

.outer.bubble_5.siblings_16 {
margin-left:150.0px;
margin-top:450.0px;
}

.inner.bubble_6.siblings_16 {
margin-left:92.5974851452px;
margin-top:288.581929877px;
}

.outer.bubble_6.siblings_16 {
margin-left:35.1949702905px;
margin-top:427.163859753px;
}

.inner.bubble_7.siblings_16 {
margin-left:43.933982822px;
margin-top:256.066017178px;
}

.outer.bubble_7.siblings_16 {
margin-left:-62.132034356px;
margin-top:362.132034356px;
}

.inner.bubble_8.siblings_16 {
margin-left:11.4180701233px;
margin-top:207.402514855px;
}

.outer.bubble_8.siblings_16 {
margin-left:-127.163859753px;
margin-top:264.80502971px;
}

.inner.bubble_9.siblings_16 {
margin-left:0.0px;
margin-top:150.0px;
}

.outer.bubble_9.siblings_16 {
margin-left:-150.0px;
margin-top:150.0px;
}

.inner.bubble_10.siblings_16 {
margin-left:11.4180701233px;
margin-top:92.5974851452px;
}

.outer.bubble_10.siblings_16 {
margin-left:-127.163859753px;
margin-top:35.1949702905px;
}

.inner.bubble_11.siblings_16 {
margin-left:43.933982822px;
margin-top:43.933982822px;
}

.outer.bubble_11.siblings_16 {
margin-left:-62.132034356px;
margin-top:-62.132034356px;
}

.inner.bubble_12.siblings_16 {
margin-left:92.5974851452px;
margin-top:11.4180701233px;
}

.outer.bubble_12.siblings_16 {
margin-left:35.1949702905px;
margin-top:-127.163859753px;
}

.inner.bubble_13.siblings_16 {
margin-left:150.0px;
margin-top:0.0px;
}

.outer.bubble_13.siblings_16 {
margin-left:150.0px;
margin-top:-150.0px;
}

.inner.bubble_14.siblings_16 {
margin-left:207.402514855px;
margin-top:11.4180701233px;
}

.outer.bubble_14.siblings_16 {
margin-left:264.80502971px;
margin-top:-127.163859753px;
}

.inner.bubble_15.siblings_16 {
margin-left:256.066017178px;
margin-top:43.933982822px;
}

.outer.bubble_15.siblings_16 {
margin-left:362.132034356px;
margin-top:-62.132034356px;
}

.inner.bubble_16.siblings_16 {
margin-left:288.581929877px;
margin-top:92.5974851452px;
}

.outer.bubble_16.siblings_16 {
margin-left:427.163859753px;
margin-top:35.1949702905px;
}

.inner.bubble_1.siblings_17 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_17 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_17 {
margin-left:289.870834411px;
margin-top:204.186249928px;
}

.outer.bubble_2.siblings_17 {
margin-left:429.741668821px;
margin-top:258.372499856px;
}

.inner.bubble_3.siblings_17 {
margin-left:260.851337583px;
margin-top:251.054346547px;
}

.outer.bubble_3.siblings_17 {
margin-left:371.702675166px;
margin-top:352.108693094px;
}

.inner.bubble_4.siblings_17 {
margin-left:216.860753366px;
margin-top:284.274493703px;
}

.outer.bubble_4.siblings_17 {
margin-left:283.721506733px;
margin-top:418.548987407px;
}

.inner.bubble_5.siblings_17 {
margin-left:163.840253919px;
margin-top:299.360126444px;
}

.outer.bubble_5.siblings_17 {
margin-left:177.680507839px;
margin-top:448.720252889px;
}

.inner.bubble_6.siblings_17 {
margin-left:108.950551489px;
margin-top:294.273846476px;
}

.outer.bubble_6.siblings_17 {
margin-left:67.9011029784px;
margin-top:438.547692952px;
}

.inner.bubble_7.siblings_17 {
margin-left:59.6048045431px;
margin-top:269.702584092px;
}

.outer.bubble_7.siblings_17 {
margin-left:-30.7903909138px;
margin-top:389.405168184px;
}

.inner.bubble_8.siblings_17 {
margin-left:22.4674296406px;
margin-top:228.964824432px;
}

.outer.bubble_8.siblings_17 {
margin-left:-105.065140719px;
margin-top:307.929648863px;
}

.inner.bubble_9.siblings_17 {
margin-left:2.55403504741px;
margin-top:177.562427672px;
}

.outer.bubble_9.siblings_17 {
margin-left:-144.891929905px;
margin-top:205.124855345px;
}

.inner.bubble_10.siblings_17 {
margin-left:2.55403504741px;
margin-top:122.437572328px;
}

.outer.bubble_10.siblings_17 {
margin-left:-144.891929905px;
margin-top:94.875144655px;
}

.inner.bubble_11.siblings_17 {
margin-left:22.4674296406px;
margin-top:71.0351755684px;
}

.outer.bubble_11.siblings_17 {
margin-left:-105.065140719px;
margin-top:-7.92964886321px;
}

.inner.bubble_12.siblings_17 {
margin-left:59.6048045431px;
margin-top:30.297415908px;
}

.outer.bubble_12.siblings_17 {
margin-left:-30.7903909138px;
margin-top:-89.4051681841px;
}

.inner.bubble_13.siblings_17 {
margin-left:108.950551489px;
margin-top:5.72615352408px;
}

.outer.bubble_13.siblings_17 {
margin-left:67.9011029784px;
margin-top:-138.547692952px;
}

.inner.bubble_14.siblings_17 {
margin-left:163.840253919px;
margin-top:0.639873555745px;
}

.outer.bubble_14.siblings_17 {
margin-left:177.680507839px;
margin-top:-148.720252889px;
}

.inner.bubble_15.siblings_17 {
margin-left:216.860753366px;
margin-top:15.7255062967px;
}

.outer.bubble_15.siblings_17 {
margin-left:283.721506733px;
margin-top:-118.548987407px;
}

.inner.bubble_16.siblings_17 {
margin-left:260.851337583px;
margin-top:48.945653453px;
}

.outer.bubble_16.siblings_17 {
margin-left:371.702675166px;
margin-top:-52.108693094px;
}

.inner.bubble_17.siblings_17 {
margin-left:289.870834411px;
margin-top:95.8137500719px;
}

.outer.bubble_17.siblings_17 {
margin-left:429.741668821px;
margin-top:41.6275001439px;
}

.inner.bubble_1.siblings_18 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_18 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_18 {
margin-left:290.953893118px;
margin-top:201.303021499px;
}

.outer.bubble_2.siblings_18 {
margin-left:431.907786236px;
margin-top:252.606042998px;
}

.inner.bubble_3.siblings_18 {
margin-left:264.906666468px;
margin-top:246.418141453px;
}

.outer.bubble_3.siblings_18 {
margin-left:379.813332936px;
margin-top:342.836282906px;
}

.inner.bubble_4.siblings_18 {
margin-left:225.0px;
margin-top:279.903810568px;
}

.outer.bubble_4.siblings_18 {
margin-left:300.0px;
margin-top:409.807621135px;
}

.inner.bubble_5.siblings_18 {
margin-left:176.04722665px;
margin-top:297.721162952px;
}

.outer.bubble_5.siblings_18 {
margin-left:202.0944533px;
margin-top:445.442325904px;
}

.inner.bubble_6.siblings_18 {
margin-left:123.95277335px;
margin-top:297.721162952px;
}

.outer.bubble_6.siblings_18 {
margin-left:97.9055466999px;
margin-top:445.442325904px;
}

.inner.bubble_7.siblings_18 {
margin-left:75.0px;
margin-top:279.903810568px;
}

.outer.bubble_7.siblings_18 {
margin-left:5.68434188608e-14px;
margin-top:409.807621135px;
}

.inner.bubble_8.siblings_18 {
margin-left:35.0933335322px;
margin-top:246.418141453px;
}

.outer.bubble_8.siblings_18 {
margin-left:-79.8133329357px;
margin-top:342.836282906px;
}

.inner.bubble_9.siblings_18 {
margin-left:9.04610688211px;
margin-top:201.303021499px;
}

.outer.bubble_9.siblings_18 {
margin-left:-131.907786236px;
margin-top:252.606042998px;
}

.inner.bubble_10.siblings_18 {
margin-left:0.0px;
margin-top:150.0px;
}

.outer.bubble_10.siblings_18 {
margin-left:-150.0px;
margin-top:150.0px;
}

.inner.bubble_11.siblings_18 {
margin-left:9.04610688211px;
margin-top:98.6969785011px;
}

.outer.bubble_11.siblings_18 {
margin-left:-131.907786236px;
margin-top:47.3939570023px;
}

.inner.bubble_12.siblings_18 {
margin-left:35.0933335322px;
margin-top:53.581858547px;
}

.outer.bubble_12.siblings_18 {
margin-left:-79.8133329357px;
margin-top:-42.836282906px;
}

.inner.bubble_13.siblings_18 {
margin-left:75.0px;
margin-top:20.0961894323px;
}

.outer.bubble_13.siblings_18 {
margin-left:-1.42108547152e-13px;
margin-top:-109.807621135px;
}

.inner.bubble_14.siblings_18 {
margin-left:123.95277335px;
margin-top:2.27883704817px;
}

.outer.bubble_14.siblings_18 {
margin-left:97.9055466999px;
margin-top:-145.442325904px;
}

.inner.bubble_15.siblings_18 {
margin-left:176.04722665px;
margin-top:2.27883704817px;
}

.outer.bubble_15.siblings_18 {
margin-left:202.0944533px;
margin-top:-145.442325904px;
}

.inner.bubble_16.siblings_18 {
margin-left:225.0px;
margin-top:20.0961894323px;
}

.outer.bubble_16.siblings_18 {
margin-left:300.0px;
margin-top:-109.807621135px;
}

.inner.bubble_17.siblings_18 {
margin-left:264.906666468px;
margin-top:53.581858547px;
}

.outer.bubble_17.siblings_18 {
margin-left:379.813332936px;
margin-top:-42.836282906px;
}

.inner.bubble_18.siblings_18 {
margin-left:290.953893118px;
margin-top:98.6969785011px;
}

.outer.bubble_18.siblings_18 {
margin-left:431.907786236px;
margin-top:47.3939570023px;
}

.inner.bubble_1.siblings_19 {
margin-left:300.0px;
margin-top:150.0px;
}

.outer.bubble_1.siblings_19 {
margin-left:450.0px;
margin-top:150.0px;
}

.inner.bubble_2.siblings_19 {
margin-left:291.872586255px;
margin-top:198.704920381px;
}

.outer.bubble_2.siblings_19 {
margin-left:433.74517251px;
margin-top:247.409840761px;
}

.inner.bubble_3.siblings_19 {
margin-left:268.371076409px;
margin-top:242.131906903px;
}

.outer.bubble_3.siblings_19 {
margin-left:386.742152819px;
margin-top:334.263813807px;
}

.inner.bubble_4.siblings_19 {
margin-left:232.042223718px;
margin-top:275.574971739px;
}

.outer.bubble_4.siblings_19 {
margin-left:314.084447437px;
margin-top:401.149943479px;
}

.inner.bubble_5.siblings_19 {
margin-left:186.822823071px;
margin-top:295.410039891px;
}

.outer.bubble_5.siblings_19 {
margin-left:223.645646142px;
margin-top:440.820079782px;
}

.inner.bubble_6.siblings_19 {
margin-left:137.613098179px;
margin-top:299.487673951px;
}

.outer.bubble_6.siblings_19 {
margin-left:125.226196358px;
margin-top:448.975347902px;
}

.inner.bubble_7.siblings_19 {
margin-left:89.7456863021px;
margin-top:287.365998998px;
}

.outer.bubble_7.siblings_19 {
margin-left:29.4913726041px;
margin-top:424.731997997px;
}

.inner.bubble_8.siblings_19 {
margin-left:48.4077642561px;
margin-top:260.358586601px;
}

.outer.bubble_8.siblings_19 {
margin-left:-53.1844714877px;
margin-top:370.717173202px;
}

.inner.bubble_9.siblings_19 {
margin-left:18.078937319px;
margin-top:221.392108956px;
}

.outer.bubble_9.siblings_19 {
margin-left:-113.842125362px;
margin-top:292.784217911px;
}

.inner.bubble_10.siblings_19 {
margin-left:2.04580448959px;
margin-top:174.689188542px;
}

.outer.bubble_10.siblings_19 {
margin-left:-145.908391021px;
margin-top:199.378377084px;
}

.inner.bubble_11.siblings_19 {
margin-left:2.04580448959px;
margin-top:125.310811458px;
}

.outer.bubble_11.siblings_19 {
margin-left:-145.908391021px;
margin-top:100.621622916px;
}

.inner.bubble_12.siblings_19 {
margin-left:18.078937319px;
margin-top:78.6078910444px;
}

.outer.bubble_12.siblings_19 {
margin-left:-113.842125362px;
margin-top:7.21578208888px;
}

.inner.bubble_13.siblings_19 {
margin-left:48.4077642561px;
margin-top:39.641413399px;
}

.outer.bubble_13.siblings_19 {
margin-left:-53.1844714877px;
margin-top:-70.7171732019px;
}

.inner.bubble_14.siblings_19 {
margin-left:89.7456863021px;
margin-top:12.6340010017px;
}

.outer.bubble_14.siblings_19 {
margin-left:29.4913726041px;
margin-top:-124.731997997px;
}

.inner.bubble_15.siblings_19 {
margin-left:137.613098179px;
margin-top:0.512326049px;
}

.outer.bubble_15.siblings_19 {
margin-left:125.226196358px;
margin-top:-148.975347902px;
}

.inner.bubble_16.siblings_19 {
margin-left:186.822823071px;
margin-top:4.5899601091px;
}

.outer.bubble_16.siblings_19 {
margin-left:223.645646142px;
margin-top:-140.820079782px;
}

.inner.bubble_17.siblings_19 {
margin-left:232.042223718px;
margin-top:24.4250282606px;
}

.outer.bubble_17.siblings_19 {
margin-left:314.084447437px;
margin-top:-101.149943479px;
}

.inner.bubble_18.siblings_19 {
margin-left:268.371076409px;
margin-top:57.8680930965px;
}

.outer.bubble_18.siblings_19 {
margin-left:386.742152819px;
margin-top:-34.2638138069px;
}

.inner.bubble_19.siblings_19 {
margin-left:291.872586255px;
margin-top:101.295079619px;
}

.outer.bubble_19.siblings_19 {
margin-left:433.74517251px;
margin-top:52.5901592386px;
}

