.navbar navbar-inverse navbar-fixed-top {
    font-family: veteran-typewriter;
}
#newNAV {
    color: blue;
}

#fullpage{
  padding-top:50px;

}

#main_service_picker img {
  margin-left: 7.5em;
}

#main_service_picker p, h2 {
  text-align: center;
}



.container-marketing {

}

#slash_pic_front {
    left: 3em;
    max-width: 21%;
    position: absolute;
    top: 4px;
}

#current-logo {
    max-width:60%;
}

footer {
    position:fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

#bottom_nav {
    color:white;
}

#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
}

#header {
    top:0px;
}

#footer {
    bottom:0px;
}
