.navbar navbar-inverse navbar-fixed-top {
    font-family: veteran-typewriter;
}
#newNAV {
    color: blue;
}

@sansFontFamily {
    font-family: typew;
    src: url(/media/fonts/veteran-typewriter.tff);
}

#front-page-blog-preview {
  position: relative;
  right: 0px;
  font-size: 14px;

}

#blog-liner {
    margin-right: 15px;
    width: 10%;
}

.section{
  font-family: typew;
  font-size: 20px;

}

fp-slidesNav.bottom {
    bottom: 90px;
}

#cafe-slide {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/media/images/photo/cafe-empty.jpg");
    background-origin: padding-box, padding-box;
    background-position: unset;
    background-repeat: repeat, no-repeat;
    background-size: 55% auto;

}

#md-filler{
  width: 50%;

}

#cafe-slide p {
    font-size: 17px;
    padding: 2%;
    text-align: right;
    color:white;

}

#main-slide{
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  ),
  url('/media/images/photo/dark-roots2.jpg') no-repeat center -10em;

}

#projects-slide{
  font-size: 10px;
}

#section1{
    color: #ffffff
    position:relative;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    -moz-opacity: 20%;
    -webkit-opacity: 20%;
    z-index: 1;
    font-family: typew;

}

#section1 p {

}

#section2 {

}

{
    font-size: 2px;
    height: 10%;
    margin-left: 440em;
    margin-top: -178px;
    position: relative;
    text-align: right;
    width: 184em;
}

#section3 {

}

#section4 {

}

#section5 {

}

#section1-container{
  padding-top:0px;
  z-index: 20;
  font-family: typew;
  color:white;
  height: 100%;
}

#section1-container p{
  z-index: 20;
  font-family: typew;
}

#nav{
  position:absolute;
  right: 10px;

}

#main_service_picker_row1 img {
  margin-left: 7%;
}

#main_service_picker_row1 {
  padding-top: 4.5%
}

#left-circle {

}

#right-circle {


}

#center-circle {
    left: 26%;
    position: absolute;
    top: 40%;
    z-index: 999;
    font-family: typew;
}

#main_service_picker_row2 img {
  margin-left: 10.5em;
}

#main_service_picker_row1 p, h2 {
  text-align: center;
}

#main_service_picker_row2 p, h2 {
  text-align: center;
  color: skyblue;
}

.container-marketing {

}

#fp-nav {
    top: 30%;
}

#slash_pic_front {
    left: 0;
    max-width: 34%;
    position: absolute;
    top: -5px;
}

#current-logo {
    max-width:60%;
}



#bottom_nav {
    color:white;
}

#header, #footer{
		position:fixed;
		height: 50%;
		display:block;
		width: 100%;
		background: #333;
		z-index:99;
		text-align:center;
		color: #f2f2f2;
		padding: 15px 0 0 0;
    font-family: typew;
}

#contactbottom{
  font-size:17px;

}

#header {
    top:0px;
}

#header ul {
    top:0px;
}

#footer {
    bottom:0px;
}

.img-circle {
    box-shadow: 0 0 1px grey;
}
