.navbar navbar-inverse navbar-fixed-top {
    font-family: veteran-typewriter;
}
#newNAV {
    color: blue;
}

#section1{
    background: url('/media/images/photo/dark-roots2.jpg') no-repeat center -10em;
    color: #E9E581;
    background-color: SlateGray;
    position:relative;
    width: 100%;
    height: 100%;
    opacity: 0.70;
    -moz-opacity: 20%;
    -webkit-opacity: 20%;
    z-index: 1;
    
}

#section2 {

}

#front-page-blog-preview {
    font-size: 2px;
    height: 10%;
    margin-left: 440em;
    margin-top: -81px;
    position: relative;
    text-align: right;
    width: 184em;
}

#section3 {

}

#section4 {

}

#section5 {

}

#section1-container{
  padding-top:50px;
  z-index: 20;
}

#section1-container p{
  z-index: 20;
}

#nav{
  position:absolute;
  right: 10px;

}

#main_service_picker_row1 img {
  margin-left: 4em;
}

#main_service_picker_row2 img {
  margin-left: 14.5em;
}

#main_service_picker_row1 p, h2 {
  text-align: center;
}

#main_service_picker_row2 p, h2 {
  text-align: center;
}

.container-marketing {

}

#fp-nav {
    top: 10%;
}

#slash_pic_front {
    left: 3em;
    max-width: 37%;
    position: absolute;
    top: -7px;
}

#current-logo {
    max-width:60%;
}

footer {
    position:fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

#bottom_nav {
    color:white;
}

#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
}

#header {
    top:0px;
}

#header ul {
    top:0px;
}

#footer {
    bottom:0px;
}
