

/*
	Pagination
*/

.pagination {
    float: left;
    left: 319px;
    margin-top: 40px;
    position: relative;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
	z-index:999;
	background-position:2px 0px;
}

.pagination li a {
    background-image: url("/media/images/paginationsmaller.png");
    float: left;
    height: 5px;
    padding-top: 16px;
    width: 20px;
    color:transparent;
    display:none;
}

.pagination li.current a {
	background-position:0px -80px !important;
}

.pagination li a:hover {
	background-position:0px -41px;
	text-decoration:none;
}

