Dear {{name}},

     As Committee co-chair I am pleased to invite you to participate in the upcoming Society for Anthropological Sciences (SASci) meeting to be held with the Society for Cross-Cultural Research and the AAA Children & Childhood Interest Group (AAACIG).  The meeting will be held in Las Vegas at the Riviera Hotel, from Feb 22-25, 2012. 

You will receive the special conference discount rate of $69 a night if you reserve a room before November 1st and mention that you are coming for the SASci/SCCR meetings.  Please read the attached flyer for further details.

We are looking forward to your attendance at the meetings.

Sincerely

Victor C. De Munck and Tamara Neubauer (co-chairs SASCi conference committee).  