
{# CSS #}
<link rel="stylesheet" href="/media/css/jquery/base/jquery.ui.slider.css" type="text/css" media="screen" />
<link type="text/css" href="/media/js/jPlayer/skins/blue_monday/jplayer.blue.monday.css" rel="stylesheet" />
<link rel="stylesheet" href="/media/css/forms.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/lists.css" type="text/css" media="screen" />

{# JS #}
<script type="text/javascript" src="/media/js/sitewide.js"></script>
<script type="text/javascript" src="/media/js/jPlayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.timeago.js"></script>
<script type="text/javascript" src="/media/js/tiny_mce/tiny_mce_src.js"></script>
<script type="text/javascript" src="/media/js/forms.js"></script>
<script type="text/javascript" src="/media/js/autocomplete.js"></script>
<script type="text/javascript" src="/media/js/collapseable.js"></script>
<script type="text/javascript" src="/media/js/add_another.js"></script>
<script type="text/javascript" src="/media/js/jquery.tablesorter.js"></script>
