
{# CSS #}
<link rel="stylesheet" href="/media/css/bootstrap-theme.css" type="text/css"/>
<link rel="stylesheet" href="/media/css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="/media/css/jquery.fullpage.css" type="text/css"/>
<link rel="stylesheet" href="/media/css/slashroot-fullpage.css" type="text/css"/>

{# JS #}
<script type="text/javascript" src="/media/js/jquery.easings.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.fullpage.js"></script>
<script type="text/javascript" src="/media/js/fullpage-settings.js"></script>
