{% block head %}

<script>

	$(document).ready(function(){ 
		$("#services").click(function(){
					  $("#membership-modal").dialog("close", {show:"fade"});
					  $("#contact-modal").dialog("close", {show:"fade"});
					  $("#services-modal").dialog({ height: 346, width: 200,  position: [360, 27], show: "fade" });
					  return false;
					  });				
	}); 
	
		$(document).ready(function(){ 
		$("#membership").click(function(){
					  $("#services-modal").dialog("close", {show:"fade"});
					  $("#contact-modal").dialog("close", {show:"fade"});
					  $("#membership-modal").dialog({ height: 346, width: 200,  position: [360, 27], show: "fade" });
					  return false;
					  });				
	}); 
	
		$(document).ready(function(){ 
		$("#contact").click(function(){
					  $("#membership-modal").dialog("close", {show:"fade"});
					  $("#services-modal").dialog("close", {show:"fade"});

					  $("#contact-modal" ).dialog({ height: 346, width: 200,  position: [360, 27], show: "fade" });

					  return false;
					  });				
	}); 
	
	
	
</script>		  

{% endblock head %}

<div id="global_nav">
	
	{% if request.user.is_authenticated %}
	
	<a href="/admin/logout"style="float:right; font-family:veteran typewriter; font-size:11px;">  (logout) </a> 
	<span style="float:right;">Logged in as {{request.user.username}}</span>
	
	<ul>
		<li><a href="/" >/Home</a></li>
		<li><a href="/service/the_situation" >/The Situation ({{tech_jobs}})</a></li>
		<li><a href="/comm/resolve_calls" >/Resolve Calls ({{calls}})</a></li>
		<li><a href="/comm/watch_calls" >/Watch Calls</a></li>
		<li><a href="/do" >/Do</a></li>
		<li><a href="/blog" >/Blog</a></li>
		<li><a href="/contact/contact_list" >/Contact List</a></li>
		<li><a href="{{pos_url}}" >/Pos</a></li>
	</ul>
	
    {% else %}	
    
    <ul>	
		<li><a href="/presence/login.html">Login</a> </li>	
		<li id="services"><a> Technology Services </a> </li>
		<li id="membership"><a href="/presence/login.html"> About Membership </a> </li>
		<li id="contact-modal"><a href="/presence/login.html"> Contact </a> </li>
		<li id="membership"><a> About Membership </a> </li>
		<li id="contact"><a> Contact </a> </li>
		
	</ul>
	
	{% endif %}	
	
</div>

