{% extends 'brown_and_bubble_driven.html' %}

{% block content %}

<script type="text/javascript" src="/media/js/jquery.tablesorter.js"></script>  	
<script type="text/javascript">

$(function() {		
	$("#resolve_calls_table").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
	$("#options").tablesorter({sortList: [[0,0]], headers: { 3:{sorter: false}, 4:{sorter: false}}});
});

$(function(){
	$('.voicemail').tooltip({ position: "right", opacity: 0.9, effect: "fade"});
	});
	
	
</script>
<script src="/media/js/resolve_calls.js" type="text/javascript"></script>

<form name="filters" method="get" action="/comm/resolve_calls/">
<input type="hidden" name="submitted_filter_form" value="1"/>
<table class="resolve_filter">
	
	<tr>
		<td>Caller</td>
		<td>To</td>
		<td>From</td>
	</tr>
	{% for caller_type in caller_types %}
		<tr>
		    <td>{{caller_type}}</td>
		    <td><input type="checkbox" name="{{caller_type}}_to" checked="checked"/></td>
		    <td><input type="checkbox" name="{{caller_type}}_from" checked="checked"/></td>
		</tr>
	{% endfor %}	
	</table>
	<span>Include calls without recordings:</span><input type="checkbox" name="include_without_recordings" checked="checked"/>
	<button type="submit">Filter</button>
</form>



<table id="resolve_calls_table" >
	<td class="resolve-column">ID</td>
	<td class="resolve-column">DateTime</td>
	<td class="resolve-column">Caller</td>
	<td class="resolve-column">Answerers</td>
	<td class="resolve-column">Resolved</td>
	<td class="resolve-column">Recording</td>	

	{% for call in resolve_calls %}
		{% with show_caller=1 show_answerers=1 show_checkbox=1 %}
			<tr {% if not call.resolve_task.is_open %}style="background-color:gray;"{% endif %}>
				{% include 'comm/tabular_call_data.html' %}
			</tr>
		{% endwith %}
	{% endfor %}
</table>
<div>
    <span>
        {% if resolve_calls.has_previous %}
            <a href="?page={{ resolve_calls.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ resolve_calls.number }} of {{ resolve_calls.paginator.num_pages }}.
        </span>

        {% if resolve_calls.has_next %}
            <a href="?page={{ resolve_calls.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}