{% extends 'brown_and_bubble_driven.html' %}

{% block content %}

<script type="text/javascript">

$(function(){
	$('.voicemail').tooltip({ position: "right", opacity: 0.9, effect: "fade"});
	});
	
	
</script>
<script src="/media/coffee/resolve_calls.js" type="text/javascript"></script>

<form name="filters" method="get" action="/comm/resolve_calls/">
<input type="hidden" name="submitted_filter_form" value="1"/>
<table>
	
	<tr>
		<td>Caller</td>
		<td>To</td>
		<td>From</td>
	</tr>
	{% for caller_type in caller_types %}
		<tr>
		    <td>{{caller_type}}</td>
		    <td><input type="checkbox" name="{{caller_type}}_to" checked="checked"/></td>
		    <td><input type="checkbox" name="{{caller_type}}_from" checked="checked"/></td>
		</tr>
	{% endfor %}
	
	</table>	
	<button type="submit">Filter</button>
</form>



<table style="border:auto;" border="1">
	<td>ID</td>
	<td>DateTime</td>
	<td>Caller</td>
	<td>Answerers</td>
	<td>Resolved</td>
	<td>Recording</td>	

	{% for call in resolve_calls %}
		{% with show_caller=1 show_answerers=1 show_checkbox=1 %}
			<tr {% if not call.resolve_task.is_open %}style="background-color:gray;"{% endif %}>
				{% include 'comm/tabular_call_data.html' %}
			</tr>
		{% endwith %}
	{% endfor %}
</table>
<div>
    <span>
        {% if resolve_calls.has_previous %}
            <a href="?page={{ resolve_calls.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ resolve_calls.number }} of {{ resolve_calls.paginator.num_pages }}.
        </span>

        {% if resolve_calls.has_next %}
            <a href="?page={{ resolve_calls.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}